[submodule "third_party/infinigen"]
	path = third_party/infinigen
	url = https://github.com/chang-xinhai/infinigen.git
[submodule "third_party/lerobot"]
    path = third_party/lerobot
    url = https://github.com/chang-xinhai/lerobot.git